@{
    Layout = "_GuestLayout";
}

@model int

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_post_container">
                <!-- dati di dettaglio post -->
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        //let pathSplit = window.location.pathname.split('/');
        //let id = pathSplit[pathSplit.length-1];

  
        axios.get(`/api/post/details/${@Model}`).then(res =>{

            const post = res.data;

            document.querySelector('.js_post_container').innerHTML +=
                `
                    <div class="col-12 col-md-4 p-2">
                          <div class="card post h-100">
                                <img src="${post.image}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">${post.title}</h5>
                                <p class="card-text">${post.description}</p>
                                <p class="card-text">${post.category.title}</p>
                                </div>
                        </div>
                    </div>
                    `;

        }).catch(error => console.log(error))


    </script>
}